body{
    background-color: #fef2f5;
}
.btn-primary{
    background-color:#cb9998;
    border-color: #9c5549;
    border-radius: 8px;
    color:black;
    font-size: 20px;
}
.nav-item a:hover, .btn-primary:hover{
    background-color: #a46872;
    border-color: #a46872;
    border-radius: 16px;
}
.navbar-brand{
    font-size: 25px;
    margin-left: 5%;
}
.navbar-collapse{
    font-size: 19px;
    margin-left: 70%;
}
#contacto{
    font-family: Book Antiqua;
    font-size: 20px;
}
footer{
    
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    text-align: center;
    height: 150px;
}
/*Regla que da formato a las imágen del footer*/
footer img{
    width: 50px;
    height: 50px;
}
.contenido{
    margin: 3%;
}
.home{
    max-width: 30%;
    border-radius: 35px;
    height: auto;
    display: block;
    float: right;
}
.contain1{
    background-color: #e1dad0;
    border-radius: 35px;
}
.contain2{
    margin-top: 20px;
    margin-left: 50px;
}
.text-home{
    padding: 5%;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.vela1{
    max-width: 100%;
    height: auto;
    margin: 20px;
}
.card{
    border-radius: 35px;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 45%;
}

@media only screen and (max-width: 1200px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}